{{comments}}
<div class="product">
<span class="title" id="{{name}}">{{namerev}}</span>
<span class="homepage"><a href="{{url}}">homepage</a></span>
<a class="show" href="#" onclick="return toggle(this);">show license</a>
<div class="licence">
<pre>{{licenses_txt}}</pre>
<ul>
{{licenses_ptr}}
</ul>
</div>
</div>

