html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#main {
  height: 100%;
}

#loading {
  width: 100vw;
  height: 100vh;
  transition: all 1s;
  background-color: #9b59b6;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.loaded {
  opacity: 0;
  visibility: hidden;
}

.spinner {
  width: 100px;
  height: 100px;
  margin: auto;
  background-color: #fff;
  border-radius: 100%;
  animation: circle 1.0s infinite ease-in-out;
}

@keyframes circle {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
