<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Set the base URL. -->
    <base href="%EXTENSION_ROOT_URL%/dist/views/">

    <title>CrOS IDE VNC Client</title>
    <link rel="stylesheet" href="vnc.css">
  </head>
  <body>
    <div id="loading"><div class="spinner"></div></div>
    <div id="main" data-web-socket-proxy-url="%WEB_SOCKET_PROXY_URL%"></div>
    <script src="vnc.js"></script>
  </body>
</html>
